.contact-wrapper {
  max-width: 615px;
  margin: 0 auto;
}
.contact-wrapper h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 36px;
}

.send-button-wrapper {
  text-align: end;
}
